:root{
    --font1:"Chivo Mono", monospace;
    --font2:"Poppins", sans-serif;
    /* --color1:rgb(32, 208, 32); */
    --color2: rgb(83, 83, 255);
    --color3: #242424;
 }
*{
    margin: 0;
    padding: 0;
    font-family: var(--font1);
    
}

.logo a:hover{
    color: var(--color2);
    cursor: pointer;
    font-size: 2.1rem;
}
.logo a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
nav{
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin: 0 10px;
    font-size: 1.2rem;
}
nav ul li a:hover{
    color: var(--color2);
    font-size: 1.3rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: all 0.09s ease-in-out;
}
.Login:hover{
    height: 43px;
    width: 93px;
    font-size: 1.15rem;
}
.Login{
    color: var(--color2);
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: var(--color3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.icon:hover{
    font-size: 1.5rem;
    cursor: pointer;
}
nav .icon{
    color: var(--color2);
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.hero-slider{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slide{
    width: 100%;
    display: none;
}
.slide img{
    width: 100%;
    height: auto;
}
.active-slide{
    display: block;
}
.project-container{
    background-color: black;
    margin: -4px;
    width: 100%;
    margin-left: 0.3px;
}
.project:hover{
    border: 1.5px solid white;
    height: 260px;
    width: 400px;
}

.project img{
    height: 200px;
    width: 390px;
}
.project .link{
    line-height: 40px;
    color: white;
    text-decoration: none;
}
.project img:hover{
    height: 210px;
    width: 400px;
}
.project{
    height: 250px;
    width: 390px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color3);
    margin: 50px 0;
    transition: all 0.3s ease-in-out;
}
.project-1st-line{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.refresh{
    display: none;
}

/* -------------------------------------footer----------------------------------- */
/*------------------------------footer-1st-----------------------------*/
.footer-1st-container{
    background-color: rgb(15, 15, 15);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about{                             /*--------- about---------*/
    width: 430px;
    margin: 20px 0;
}
.about h1{
    font-family: var(--font2);
}
.about p{
    margin: 33px 0;
}
.about hr{
    width: 155px;
    border-color: var(--color2);
}
.social-media a img{
    margin: 0 10px;
    height: 30px;
}

.personal-details{
    width: 430px;
}
.personal-details hr{
    margin: 5px 0;
    width: 135px;
    border-color: var(--color2);
}
.personal-details .loc{
    font-size: 1.5rem;
}
.personal-details p{
    margin: 20px 0;
    font-size: 1.1rem;
    transition: all 0.15s ease-in-out;
}
.personal-details p:hover{
    color: var(--color2);
    cursor: pointer;
}
.contact-me{
    width: 400px;
    margin: 20px 0;
}
.contact-me hr{
    width: 192px;
    border-color: var(--color2);
    margin: 5px 0;
}
.contact-me p{
    font-size: 1.3rem;
    color: rgb(143, 143, 143);
    margin: 10px 0;
}
.contact-me input ,.msg{
    height: 40px;
    width: 95%;
    font-size: 1.1rem;
    color: white;
    background-color: var(--color3);
    border: none;
}

.contact-me button{
    height: 40px;
    width: 400px;
    margin: 15px 0;
    background-color: var(--color2);
    border: none;
    cursor: pointer;
}


/*------------------------------footer-2nd-----------------------------*/
.footer-2nd{
    height: 80px;
    background-color: black;
    color: rgb(102, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-2nd a{
    color: var(--color2);
    text-decoration: none;
}






@media only screen and (max-width: 768px){
    nav{
        height: 100px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        margin-left: 5px;
        font-size: 0.8rem;
    }
    nav .icon{
        display: none;
    }
    .slide img{
        width: 100%;
        height: 150px;
    }
    .project-container{
        background-color: black;
        margin: -4px;
        width: 100%;
        margin-left: 0.3px;
    }
    .project:hover{
        border: 1px solid white;
        height: 240px;
        width: 350px;
    }
    .project{
        height: 180px;
        width: 390px;
        border-radius: 10px;
        background-color: var(--color3);
        margin: 60px 0;
        transition: all 0.3s ease-in-out;
    }
    .project img{
        height: 180px;
        width: 390px;
    }
    .project img:hover{
        height: 240px;
        width: 350px;
    }
    .project-1st-line{
        display: flex;
        flex-direction: column;
    }
    .refresh{
        height: 50px;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .refresh a{
        color: white;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 600;
    }
    .footer-1st-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .about,.personal-details{                             
        width: 400px;
        margin: 15px 0;
    }
    .contact-me input ,.msg,.contact-me button{
        width: 95%;
    }
    .footer-2nd{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 375px) { /* iPhone SE */
}

@media only screen and (max-width: 390px) { /* Samsung Galaxy S8+ */
}

@media only screen and (max-width: 428px) { /* iPhone 12 Pro */
}